body {
  scroll-behavior: smooth; /* Smooth scrolling */
}

.section {
  padding: 80px 0; /* Vertical padding */
  min-height: 100vh; /* Ensure full viewport height for each section */
  opacity: 0; /* Initial state for fade-in */
  transform: translateY(20px); /* Initial position for animations */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transitions */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section.active {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Reset position */
}

.section-content {
  max-width: 68vw; /* Center content and limit width */
  margin: 0 auto; /* Center align the section */
  padding: 0 20px; /* Add horizontal padding */
}

 /* aside {
  
 } */

button {
  cursor: pointer; /* Change cursor on hover */
}

.primaryBtn {
  margin: 20px 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 13px 25px;
  border-radius: 15px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: #185adb;
  transition: all 0.25s ease;
}

.primaryBtn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
}